<div class="m-5 p-5">
  <h1 class="">Stupid Coaching</h1>
  <form action="/answer" data-turbo="false" method="get" class="col-6 form-group mb-3">
    <label for="question">Ask your coach anything</label>
    <input type="text" name="question" class="border-bottom form-control" id="question">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>
</div>
